/* take message from data-label and put it in the label at form view */
.custom-file-input~.custom-file-label::after {
    content: attr(value);
}

/* client image at detail view */
img.detail-view{
    height: 200px;
}

/* invoice textarea in form view */
.form-group > div > textarea{
    min-height: 100px;
    max-height: 500px;
}

/* for login */
.minh-100 {
  height: 80vh;
  width: 100vw;
}