<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head">
</head>

<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container my-4">
        <div class="card bg-light">
            <div class="card-header" th:text="${title}"></div>
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success" th:href="@{/invoice/form/} + ${client.id}">
                            <i class="fas fa-folder-plus" th:utext="#{txt.detail.view.invoice}"></i>
                        </a>
                    </h4>
                </div>
                <div class="row">
                    <img th:src="@{'/upload/' + ${client.photo}}" th:alt="${client.photo}" th:if="${#strings.length(client.photo) > 0}" class="col-3 detail-view rounded img-fluid img-thumbnail"/>
                    <ul class="col-9 list-group">
                        <li class="list-group-item" th:text="${client.name}"></li>
                        <li class="list-group-item" th:text="${client.lastname}"></li>
                        <li class="list-group-item" th:text="${client.email}"></li>
                        <li class="list-group-item" th:text="${client.createAt}"></li>
                    </ul>
                </div>

                <div th:if="${#lists.isEmpty(client.invoiceList)}" class="alert alert-info my-4"  th:utext="#{txt.detail.view.inovice.list(${client.name}, ${client.lastname})}">

                </div>
                <table th:if="${not #lists.isEmpty(client.invoiceList)}" class="table table-hover table-striped my-3">
                    <thead>
                        <tr>
                            <th th:text="#{txt.detail.view.folio}"></th>
                            <th th:text="#{txt.detail.view.description}"></th>
                            <th th:text="#{txt.detail.view.createAt}"></th>
                            <th th:text="#{txt.detail.view.item.total}"></th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{txt.detail.view.detail}"></th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{txt.detail.view.delete}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="invoice : ${client.invoiceList}">
                            <td th:text="${invoice.id}"></td>
                            <td th:text="${invoice.description}"></td>
                            <td th:text="${invoice.createAt}"></td>
                            <td th:text="'$ ' + ${#numbers.formatDecimal(invoice.total,2,2)}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/invoice/detail/} + ${invoice.id}" class="btn btn-primary btn-xs"><i class="fas fa-file-invoice-dollar"></i></a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" ><a th:href="@{/invoice/delete/} + ${invoice.id}" class="btn btn-danger btn-xs delBtn"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{txt.detail.view.modal.header}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="alert alert-danger" th:text="#{txt.detail.view.modal.question}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{txt.detail.view.modal.cancel}"></button>
                        <a href="" class="btn btn-danger" id="delRef" th:text="#{txt.detail.view.delete}">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>