<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
    <!-- navBar -->
    <header th:replace="layout/layout :: header"></header>
    <div class="container">
        <div class="card  bg-light my-3">
            <div class="card-header h1" th:text="${title}"></div>
            <div class="card-body">
                <form th:action="@{/form}" th:object="${client}" method="POST" enctype="multipart/form-data" autocomplete="off">
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label" th:text="#{txt.form.view.name}"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" th:placeholder="#{txt.form.view.name}" th:field="*{name}" />
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastname" class="col-sm-2 col-form-label" th:text="#{txt.form.view.lastname}"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" th:placeholder="#{txt.form.view.lastname}" th:field="*{lastname}"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label" th:text="#{txt.form.view.email}"></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" th:placeholder="#{txt.form.view.email}" th:field="*{email}"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fecha" class="col-sm-2 col-form-label" th:text="#{txt.form.view.createAt}"></label>
                        <div class="col-sm-3">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control jnd-datepicker" th:placeholder="#{txt.form.view.createAt}" th:field="*{createAt}" />
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-calendar-times"></i></span>
                                </div>
                            </div>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="file" class="col-sm-2 col-form-label" th:text="#{txt.form.view.photo}"></label>
                        <div class="col-sm-6">
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="customFile" />
                                <label class="custom-file-label" for="customFile" th:value="#{txt.form.view.input.browse}" th:text="#{txt.form.view.input.photo}"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" th:value="#{txt.form.view.submit}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
    <script th:src="@{/js/form.js}"></script>
</body>

</html>