<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container my-4">
        <div class="card">
            <div class="card-header" th:text="${title}"></div>
            <div class="card-body">
                <h4 class="card-title">
                    <a class="btn btn-info btn-xs" th:href="@{'/detail/' + ${invoice.client.id}}">
                        <i class="fas fa-angle-double-left" th:utext="#{txt.invoice.detail.view.back}"></i>
                    </a>
                    <a class="btn btn-danger float-right" th:href="@{'/invoice/detail/' + ${invoice.id}(format=pdf)}">
                        <i class="fas fa-file-pdf"></i>
                    </a>
                </h4>
                <ul class="list-group my-2">
                    <li class="list-group-item list-group-item-primary" th:text="#{txt.invoice.detail.view.client.detail}"></li>
                    <li class="list-group-item" th:text="${invoice.client.name} + ' ' + ${invoice.client.lastname}">
                    </li>
                    <li class="list-group-item" th:text="${invoice.client.email}"></li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item list-group-item-success" th:text="#{txt.invoice.detail.view.invoice.data}"></li>
                    <li class="list-group-item" th:utext="#{txt.invoice.detail.view.invoice.folio(${invoice.id})}"></li>
                    <li class="list-group-item" th:utext="#{txt.invoice.detail.view.invoice.description(${invoice.description})}"></li>
                    <li class="list-group-item" th:utext="#{txt.invoice.detail.view.invoice.date(${invoice.createAt})}" th:text="'Fecha: ' + ${invoice.createAt}"></li>
                </ul>

                <table class="table table-hover table-striped mt-5">
                    <thead>
                        <tr>
                            <th th:text="#{txt.invoice.detail.view.product}"></th>
                            <th th:text="#{txt.invoice.detail.view.price}"></th>
                            <th th:text="#{txt.invoice.detail.view.quantity}"></th>
                            <th th:text="#{txt.invoice.detail.view.total}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${invoice.itemList}">
                            <td th:text="${item.product.name}"></td>
                            <td th:text="'$ ' + ${item.product.cost}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="'$ ' + ${#numbers.formatDecimal(item.calculateAmount(),2,2)}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <h2><span class="badge badge-secondary" th:text="#{txt.invoice.detail.view.price.purchase}"></span></h2>
                    <h2><span th:text="'$ ' + ${#numbers.formatDecimal(invoice.total,2,2)}" class="badge badge-success"></span></h2>
                </div>

                <div class="card border-info">
                    <div class="card-header" th:text="#{txt.invoice.detail.view.remarks}"></div>
                    <div class="card-body">
                        <p class="card-text" th:text="${invoice.remark}" th:if="${not #strings.isEmpty(invoice.remark)}"></p>
                        <h4 class="card-title" th:if="${#strings.isEmpty(invoice.remark)}" th:text="'No hay observaciones'"></h4>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>