<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">    
</head>
<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container my-4">
        <div class="card bg-light">
            <div class="card-header" th:text="${title}"></div>
            <div class="card-body">
                <h4 class="card-title"></h4>
                <button class="btn btn-info mb-4" id="btn-back"><i class="fas fa-angle-double-left" th:utext="#{txt.invoice.form.view.back}"></i></button>
                <form th:action="@{/invoice/form}" th:object="${invoice}" method="POST">
                    <div class="form-group row">
                        <label for="client" class="col-sm-2 col-form-label" th:text="#{txt.invoice.form.view.client}"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="client" disabled="disabled" th:value="${invoice.client.name} + ' ' + ${invoice.client.lastname}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label" th:text="#{txt.invoice.form.view.description}"></label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" id="description" placeholder="Descripción" th:field="*{description}" th:errorclass="'form-control is-invalid'" />
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="remark" class="col-sm-2 col-form-label" th:text="#{txt.invoice.form.view.remarks}"></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="remark" rows="3" th:field="*{remark}"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="find-product" class="col-sm-2 col-form-label" th:text="#{txt.invoice.form.view.search}"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="find-product" name="find-product" />
                        </div>
                    </div>
                    <table th:replace="invoice/template-items :: itemsInvoice"></table>
                    <table id="load-item-products" class="table table-hover table-sm table-striped">
                        <thead>
                            <tr>
                                <td th:text="#{txt.invoice.form.view.product}"></td>
                                <td th:text="#{txt.invoice.form.view.price}"></td>
                                <td th:text="#{txt.invoice.form.view.quantity}"></td>
                                <td th:text="#{txt.invoice.form.view.total}"></td>
                                <td th:text="#{txt.invoice.form.view.delete}"></td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <h5><span class="badge badge-secondary" id="total-due"><i>$&nbsp;</i>0</span></h5>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="submit" class="btn btn-primary" th:value="#{txt.invoice.form.view.submit}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"></footer>
    <script th:src="@{/js/invoice-form.js}"></script>
</body>
</html>