<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>
    <table class="d-none" th:fragment="itemsInvoice">
        <tbody id="template-items-invoice">
            <tr id="row_{id}" productid="{id}" cost="{cost}">
                <td class="d-none">
                    <input type="hidden" name="item_id[]" value="{id}" />
                </td>
                <td>{name}</td>
                <td><i>$&nbsp;</i>{cost}</td>
                <td>
                    <input style="width: 100px;" type="number" min="1" max="9999" value="1" name="quantity[]" id="quantity_{id}" class="form-control inputNumber" />
                </td>
                <td><i>$&nbsp;</i><span id="total_amount_{id}">0</span></td>
                <td><a href="#load-item-products" class="btn btn-danger btn-xs btn-products"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        </tbody>
    </table>    
</body>
</html>